---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   14px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$footer-height:    100px;
$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "partenaires",
        "sponsors",
        "speakers",
        "schedule_preview",
        "home",
        "talks",
        "schedule",
        "conflike",
        "roti",
        "become_a_sponsor"
;

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

.navbar-brand {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  color: #000;
  .small-brand {
    font-size: 15px;
  }
}

.nav.navbar-nav.navbar-right, h1, h2, h3 {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.nav.navbar-nav {
  font-size: 13px;
}


// CSS update HP 25.03.2021

body {
    padding-top: 0 !important;
    background: linear-gradient(333deg, rgba(253,203,113,1) 35%, rgba(255,251,242,1) 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
    height: 100%; //100vh
    font-family: 'Josefin Sans', sans-serif;
    color: #383A56 !important;
    position: relative;
    margin: 0;
    min-height: 100vh;
    padding-bottom: $footer-height;
}

.about {
    font-weight: bold;
    text-decoration: none;
}

.about:hover {
    text-decoration: none;
}

.agi-lille-title {
    font-size: 6rem !important;
    color: #383A56 !important;
    font-weight: bold;
}

.custom-button {
    border-radius: 30px;
    background-color: #383A56;
    padding: 15px;
    color: white;
    transition: all .2s ease-in-out;

    &:hover, &:focus {
      text-decoration: none;
      color: #383A56;
      background: transparent;
      border: 1px solid #383A56;
    }
}



.texte-accueil {
  color: #383A56;
  font-size: 2rem !important;
}

.lille-illustration {
  position: absolute;
  bottom:0;
  right:0;
  margin-bottom: $footer-height;
}

//css footer
footer {
   left: 0;
   bottom:0;
   right:0;
   position: absolute;
   height: $footer-height;
   font-size: 16px;
   color : #fdc258;
   background-color:#383A56 ;
   margin: 0; 
   padding-top: 20px;
}

 footer .grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
 }

 footer .box img{
  width: 70px;
  height: auto;
 }

 footer .box p{
  padding-top: 10px;
 }

//css footer mobile
@media only screen and (max-width: 767px) { 
  footer { 
    height: auto;
    font-size: 14px;
    padding: 10px;
  } 
  footer .grid-container { 
    grid-template-columns: auto;
    justify-content: center;
  }
  footer .box {
    text-align: center; 
    margin-bottom: 5px; 
  } footer .box img{
    width: 50px;
  } 
}


@media (max-width: 900px) {
    .lille-illustration {
      display: none;
    }

    .custom-container {
        text-align: center;
    }
  }
  
  // css pour page acces
  .acces .container  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: nowrap;
    padding-top: 2%;
  }
  
  .acces .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 10px;
  }
  
  .acces .box {
    margin: 4px;
    padding: 15px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }
  
  .acces .box p {
    font-size: 18px;
    line-height: 1.5;
    width: 100%;
    text-align: center;
    padding: 30px 0;
  }
  
  .acces .box img {
    max-width: 100%;
    width: 70px;
    height: 100px;
    max-height: 100%;
    display: block;
    margin: 0 auto;
  }
  
  .acces .box iframe {
    max-width: 100%;
    width: 620px;
    height: 400px;
    max-height: auto; 
    display: block;
    margin: 0 auto;
  }

  // css page a-propos
  .apropos .container {
    max-width: 80%;
    margin: 0 auto;
    padding: 15px;
    font-family: Arial, sans-serif;
    align-items: center;
  }
  
  .apropos h1 {
    font-size: 33px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .apropos p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  