---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family:  Helvetica, Arial, sans-serif;
$base-font-size:    12px;
$small-font-size:   $base-font-size * 0.875;
$base-line-height:  1.5;

$footer-height:     70px; 
$spacing-unit:      25px;
$nav-button-height: 40px;

$text-color:        #111;
$background-color:  #fdfdfd;
$brand-color:       #2a7ae2;
$navbar-button-color: #383a56;

$grey-color:        #828282;
$grey-color-light:  lighten($grey-color, 40%);
$grey-color-dark:   darken($grey-color, 25%);

$on-palm:           600px;
$on-laptop:         800px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
      @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "partenaires",
        "sponsors",
        "speakers",
        "schedule_preview",
        "home",
        "talks",
        "schedule",
        "conflike",
        "roti",
        "become_a_sponsor"
;

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

.navbar-container {
  gap: 10px;
  width: 100%;
  padding: 5px 10px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;


  .navbar-brand {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    color: #000;
  
    .small-brand {
      font-size: 14px;
    }
  }
  
  #navbar-toggle {
    margin: 0;
    display: none;
    padding: 0 14px; 
    font-size: 14px; 
    font-weight: 500;
    border-radius: 20px;
    min-height: 35px; 
    border: 1px solid $navbar-button-color;
  
    i {
      width: 16px; 
      height: 16px;
      margin-right: 5px; 
    }
  }
  
  .navbar-items {
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    list-style-type: none;
    padding-inline-start: 0;
  }

  @media (max-width: $on-palm) {
    flex-direction: column;
    height: initial;

    #navbar-toggle {
      display: block;
    }

    #navbar-menu {
      display: flex;
      overflow: hidden;

      &:after {
        content: '';
        height: 50px;
        max-height: 0px;
        transition: height 0.3s ease-in-out, max-height 0s 0.3s ease-in-out;
      }

      &.hide-items {
        &:after {
          height: 0;
          max-height: 50px;
          transition: height 0.3s ease-in-out;
        }

        .navbar-items {
          max-height: 0;
          visibility: hidden;
          margin-bottom: -100vmax;
          transition: margin-bottom 0.3s ease-in-out, visibility 0s 0.3s, max-height 0s 0.3s;
        }
      }

      .navbar-items {
        margin-bottom: 0;
        max-height: 100vmax;
        align-items: stretch;
        flex-direction: column;
        justify-content: center;
        transition: margin-bottom 0.3s ease-in-out;

        .custom-button {
          width: 100%;
        }
      }
    }
  }
}



// CSS update HP 25.03.2021

body {
  background: linear-gradient(333deg, rgba(253,203,113,1) 35%, rgba(255,251,242,1) 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
  height: 100%; //100vh
  font-family: 'Josefin Sans', sans-serif;
  color: $navbar-button-color !important;
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: $base-font-size; 
}

.agi-lille-title {
  font-size: 5rem !important; 
  color: $navbar-button-color !important;
  font-weight: bold;
}

.custom-button {
  font-weight: 600;
  min-height: $nav-button-height;
  border-radius: 30px;
  background-color: $navbar-button-color;
  padding: 0 12px;
  color: white;
  font-size: 12px; 
  display: inline-flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  transition: all .2s ease-in-out;
  outline: 1px solid transparent;

  &:hover, &:focus {
    text-decoration: none;
    color: $navbar-button-color;
    background: transparent;
    outline: 1px solid $navbar-button-color;
  }
}


.content {
  flex-grow: 1;
  position: relative;
  overflow: hidden; // Prevent image in "lille-illustration" class from overflowing above the navbar
  padding-bottom: 25px;
}

.home-button-center {
  z-index: 1;
  font-size: large;
  padding: 1rem 2rem;
  border-radius: 1rem;
  text-transform: uppercase;
  box-shadow: 0px 0px 6px 3px #dc900033;
}


.texte-accueil {
  color: $navbar-button-color;
  font-size: 1.75rem !important;
}

.texte-p {
  color: $navbar-button-color;
  font-size: 1.75rem !important;
  font-weight: 600;
}
.texte-speaker{
  color: $navbar-button-color;
  font-size: 1.75rem !important;
  text-align: center;
}
.lille-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: min(65%, 750px);
}

footer {
  left: 0;
  bottom:0;
  right:0;
  position: absolute;
  min-height: $footer-height; 
  font-size: 14px; 
  color : #fdc258;
  background-color:$navbar-button-color ;
  margin: 0;
  padding: 8px; 
  align-items: center;
  justify-content: space-between;

  display: grid !important;
  grid-template-columns: 0.7fr 1fr 0.2fr 0.7fr;
  grid-template-rows: 2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  .reseaux{
    grid-area: 1 / 1 / 2 / 2;
    img {
      width: 50px;
      height: auto;
    }
  }

  .reglement{
    grid-area: 1 / 2 / 2 / 3;
    a {
      color: white;
      align-self: center;
      text-decoration: underline;
  }
}

  .image-nord-agile{
    grid-area: 1 / 3 / 2 / 4;
    img {
      width: 50px;
      height: auto;
    }
  }

  .nord-agile{
    grid-area: 1 / 4 / 2 / 5; 
    a {
      color: white;
      align-self: center;
      text-decoration: underline;
    }
    p {
     padding-top: 10px;
     margin-bottom: 1px;
    }
  }
  
  // .box {
  //   display: flex;
  //   img {
  //     width: 50px;
  //     height: auto;
  //   }
  //   a {
  //     color: white;
  //     align-self: center;
  //   }
  //   p {
  //     padding-top: 10px;
  //     margin-bottom: 1px;
  //   }
  // }
}

@media only screen and (max-width: 767px) {
  .home-button-center {
    margin-top: 3rem;
    font-size: medium; 
    padding: 0.75rem 1.5rem;
  }

  footer { 
    height: auto;
    font-size: 12px;
    padding: 8px;

    display: grid !important;
    grid-template-columns: 0.2fr 0.7fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 7px;
    
    .image-nord-agile{
      grid-area: 1 / 1 / 2 / 2;
      img {
        width: 50px;
        padding-top: 3%;
      }
    }

    .nord-agile{
      text-align: left;
      padding-top: 10px;
      grid-area: 1 / 2 / 2 / 3;
      a {
        color: white;
        text-decoration: underline;
      }  
      
    }
    
    .reseaux{
      justify-self: right;
      grid-area: 1 / 3 / 2 / 4;
      img {
        width: 50px;
        padding-top: 3%;
      }
    }

    .reglement{
      grid-area: 2 / 1 / 3 / 4;
      a {
        color: white;
        text-decoration: underline;
      }  
    }
  }
}



@media (max-width: 900px) {
  .lille-illustration {
    display: none;
  }

  .custom-container {
    padding: 10px; 
    text-align: center;
  }
}

// css pour page acces
.acces {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: nowrap;
    padding-top: 2%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 10px;
  }

  .box {
    margin: 4px;
    padding: 15px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    p {
      font-size: 18px;
      line-height: 1.5;
      width: 100%;
      text-align: center;
      padding: 30px 0;
    }

    img {
      max-width: 100%;
      width: 70px;
      height: 100px;
      max-height: 100%;
      display: block;
      margin: 0 auto;
    }

    iframe {
      max-width: 100%;
      width: 620px;
      height: 400px;
      max-height: auto; 
      display: block;
      margin: 0 auto;
    }
  }
}

// css page 7 célèbres

.jeu-boutton{
  text-align: center;
  zoom: 150%;
}
// css page a-propos
.apropos {
  .container {
    max-width: 80%;
    margin: 0 auto;
    padding: 15px;
    font-family: Arial, sans-serif;
    align-items: center;
  }

  h1 {
    font-size: 33px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 1570px) and (min-width: 900px)  {
  .contenu-sous-titre {
    max-width: 40%;
    padding: 0 0 20px 0;
  }
}