---
layout: default
title: Sponsors 2025
permalink: /sponsors/
---
<div class="container">
  <h1 class="sponsor-level">Les Sponsors Diamant de 2025</h1>
  {% include sponsor.html sponsors=site.data.sponsors.diamant %}
  <h1 class="sponsor-level"> Les Sponsors Émeraude de 2025</h1>
  {% include sponsor.html sponsors=site.data.sponsors.emeuraude %}
  <h1 class="sponsor-level">Les Sponsors Topaze de 2025</h1>
  {% include sponsor.html sponsors=site.data.sponsors.topaze %}
  <h1 class="sponsor-level">Les Sponsors Virtuel de 2025 </h1>
  {% include sponsor.html sponsors=site.data.sponsors.virtuel %}
</div>

<div class="sponsor-boutton">
  <br>
  <a  class="custom-button"  href=" https://forms.gle/s9Uxkw7vJ1MitkKU8" target="_blank">Devenez sponsor : formulaire d'inscription</a>
</div>
<div class="sponsor-boutton">
  <br>
  <a  class="custom-button"  href=" https://docs.google.com/presentation/d/1hqJTbGBfBESl-XpsN1mpO0h5YR3-4OsanX5MyZwDAvA/edit?usp=sharing" target="_blank">Découvrez nos offres de sponsoring</a>
</div>
<!-- <div class="youtube-frame">
PUT HERE THE YOUTUBE INTEGRATION
</div> -->
