---
layout: default
title: Sponsors 2024
permalink: /sponsors/
---
<div class="container">
  <h1 class="sponsor-level">Sponsors Diamant</h1>
  {% include sponsor.html sponsors=site.data.sponsors.diamant %}
  <h1 class="sponsor-level">Sponsors Émeraude </h1>
  {% include sponsor.html sponsors=site.data.sponsors.emeuraude %}
  <h1 class="sponsor-level">Sponsors Topaze  </h1>
  {% include sponsor.html sponsors=site.data.sponsors.topaze %}
  <h1 class="sponsor-level">Sponsors Virtuel </h1>
  {% include sponsor.html sponsors=site.data.sponsors.virtuel %}
</div>
