---
layout: default
title: Sponsors 2024
permalink: /sponsors/
---
<div class="container">
  <h1 class="sponsor-level">Les Sponsors Diamant de 2024</h1>
  {% include sponsor.html sponsors=site.data.sponsors.diamant %}
  <h1 class="sponsor-level"> Les Sponsors Émeraude de 2024</h1>
  {% include sponsor.html sponsors=site.data.sponsors.emeuraude %}
  <h1 class="sponsor-level">Les Sponsors Topaze de 2024</h1>
  {% include sponsor.html sponsors=site.data.sponsors.topaze %}
  <h1 class="sponsor-level">Les Sponsors Virtuel de 2024 </h1>
  {% include sponsor.html sponsors=site.data.sponsors.virtuel %}
</div>
