<footer>
  <div class="box">
      <a href="https://twitter.com/NordAgile" target="_blank"><img src="/img/reseaux/yellow_twitter-removebg-preview.webp" alt="Twitter"></a>
      <a href="https://www.youtube.com/c/Nord-agileOrg" target="_blank"><img src="/img/reseaux/yellow_youtube-removebg-preview.webp" alt="Youtbe"></a>
      <a href="https://www.linkedin.com/company/15785052" target="_blank"><img src="/img/reseaux/yellow_linkedin-removebg-preview.webp" alt="LinkedIn"></a>
    <!-- <div class="box">
    <a href="/Agi'Lille 2023 - Règlement jeu concours.pdf" target="_blank">Règlement jeux concours "Gagne ton Pass"</a>
    </div> -->
  </div>
  <div class="box" style="display: flex;">
    <p>Agi'Lille, un événement <a href="http://www.nord-agile.org/"> Nord Agile</a>.</p>
    <a href="http://www.nord-agile.org/"><img src="/img/reseaux/yellow_nordagile-removebg-preview.webp"></a>
  </div>
</footer>
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/footer.js" | prepend: site.baseurl }}"></script>
