<footer>
  <div class = "grid-container">
    <div class = "box">
          <a href="https://twitter.com/NordAgile"><img src="/img/reseaux/yellow_twitter-removebg-preview.webp" alt="Twitter"></a>
          <a href="https://www.youtube.com/c/Nord-agileOrg"><img src="/img/reseaux/yellow_youtube-removebg-preview.webp" alt="Youtbe"></a>
          <a href="https://www.linkedin.com/company/15785052"><img src="/img/reseaux/yellow_linkedin-removebg-preview.webp" alt="LinkedIn"></a>
    </div>
    <div class = "box">
      <a href="http://www.nord-agile.org/"><img src="/img/reseaux/yellow_nordagile-removebg-preview.webp"></a>
    </div>
    <div class = "box">
      <p><b>agilille-programme@nord-agile.org</b></p>
    </div>
  </div>
</footer>
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
