.sponsor-level {
  text-align: center;
  background: #eee;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.sponsors {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 5rem;
}

.sponsors-item {
  list-style: none;
}

.sponsors-item img {
  display: block;
  /* Make sure max-width is added */
  max-width: 100%;
  max-height: 100px;
}
